// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$primary: #AD074D;
$secondary: #F45899;
$accent: #3A9492;

$dark-page: #000000;
$dark: #111827;

$positive: #4caf50;
$negative: #ff5252;
$info: #2196f3;
$warning: #ffc107;
